<div class="single-beer">
  
 {{>beerpartial this.randomBeer}}
 <div class="other-info">
  <div class="info-beer-diff">
  <h3>Food Pairing</h3>
  {{#each this.randomBeer.food_pairing}}
    <li>{{this}}</li>
  {{/each}}
  <h3>Brewers Tips</h3>
  <p>{{this.randomBeer.brewers_tips}}</p>
  </div>
  </div>
  </div>

  
